# Database config
db.ini
# Uploaded files
files/*
# IntelijIDEA files
.idea
*.iml
# eclipse
.project
# non-openly licensed theme assets
themes/dpla/exhibitions-assets
themes/dpla/exhibitions-assets/*

