@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.svg#icomoon') format('svg'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-view-list:before, .icon-view-map:before, .icon-view-object:before, .icon-view-time:before, .icon-arrow-thin-down:before, .icon-arrow-right:before, .icon-arrow-left:before, .icon-arrow-down:before, .icon-twitter:before, .icon-rss:before, .icon-mag-glass:before, .icon-lock:before, .icon-facebook:before, .icon-arrow-up:before, .icon-arrow-thin-up:before, .icon-arrow-thin-right:before, .icon-arrow-thin-left:before {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.icon-view-list:before {
    content: "\e000";
    font-size: 17px;
}
.icon-view-map:before {
    content: "\e001";
    font-size: 25px;
    margin: 0 0 0 -9px;
}
.icon-view-object:before {
    content: "\e002";
    font-size: 16px;
    margin: 0 0 0 4px;
    vertical-align: bottom;
}
.icon-view-time:before {
    content: "\e003";
    font-size: 20px;
}
.icon-arrow-thin-down:before {
    content: "\e004";
    font-size: 7px;
    margin: 0 0 0 4px;
}
.icon-arrow-right:before {
    content: "\e005";
}
.icon-arrow-left:before {
    content: "\e006";
}
.icon-arrow-down:before {
    content: "\e007";
}
.icon-twitter:before {
    content: "\e008";
}
.icon-rss:before {
    content: "\e009";
}
.icon-mag-glass:before {
    content: "\e00a";
}
.icon-lock:before {
    content: "\e00b";
}
.icon-facebook:before {
    content: "\e00c";
}
.icon-arrow-up:before {
    content: "\e00d";
}
.icon-arrow-thin-up:before {
    content: "\e00e";
}
.icon-arrow-thin-right:before {
    content: "\e00f";
}
.icon-arrow-thin-left:before {
    content: "\e010";
}